{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {% include "snippets/styles.html" %}
   
    {% block app_css%}
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    {% endblock app_css%}

    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>
<body>

    {% include "snippets/navbar.html" %}

    

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-white text-center">
          <!-- <h1 class="display-4">{{heading}}</h1>
          <p class="lead">{{subheading}}</p> -->

          {% block header %}

          {% endblock header %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="container bg-info text-dark shadow" style="margin-top:-100px" id="myBody">
            <!-- <div class="row" style="height:400px">
                <h1>konten1</h1>
            </div> -->

            {% block content-1%}
            {% endblock content-1 %}

        </div>
        
        <div class="container bg-warning text-white shadow">
            <!-- <div class"row" style="height: 300px">
                <h1>konten2</h1>
            </div> -->
            
            {% block content-2%}
            {% endblock content-2 %}

        </div>



        <!-- <div class="container bg-danger text-white shadow">
            <div class"row" style="height: 300px">
                <h1>konten3</h1>
            </div>
        </div>
        <div class="container bg-dark text-white shadow">
            <div class"row" style="height: 300px">
                <h1>konten4</h1>
            </div>
        </div> -->
    </div>

    <!-- <div class="container">
        <h1>{{heading}}</h1>
        <p>{{subheading}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ut, blanditiis dicta, amet reprehenderit soluta aliquid molestiae iusto, repellendus necessitatibus quia. Quidem illum voluptatibus ea dignissimos, omnis recusandae a officia!</p>
    </div> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    
    
    {% include "snippets/scripts.html" %}
</body>
</html>